<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="image brandlogo" alt="Brand" src="images/foodlelogo.png">
      </a>
    </div>
  </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        
      </ul>
      
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid mainpage">
   <div class="mainpage-row row">
        <div class="col-md-3 mainpagecol-left col">
           
        </div>
        
        <div class="col-md-6 mainpagecol-mid col">
            <img class="logoimage image" alt="logo" src="images/foodlelogo.png"  />
            <div class="text midtext">
                <h1> Doodle with you Foodle</h1>
            </div>
            <div class="text midtext">
                <h2> Join us now to enjoy our daily stories!</h2>
            </div>
        </div>
        
        <div class="col-md-3 mainpagecol-right col" >
             <img class="faceimage image" alt="lalala" src="images/face.png"  />
        </div>
         
    </div>
  
</div>
