<img class="faceimage image" src="../assets/images/face.png" />
<div class="container-fluid mainpage">
   <div class="mainpage-row row">
        <div class="col-md-10 mainpagecol-left col">
            <img class="faceimage image" alt="lalala" src="../assets/images/face.png" height="50" width="50" />
        </div>
        
        <div class="col-md-1 mainpagecol-mid col">
            mid
        </div>
        
        <div class="col-md-1 mainpagecol-right col" >
            right
        </div>
         
    </div>
  
</div>
