html {
    height: 100%;
}
body {
    height: 100%;
}
.mainpage {
    background-image: url('../images/lines.png');
    background-repeat: repeat-y;
    background-size: 100%;
    
    box-sizing: border-box;
    color: blue;
    height:100%;
   border: 1px solid blue;
   
    
}
.row {
    height: 100%;
}
.col {
    height: 100%;
    border: 1px solid red;
    position: relative;
  
}

.faceimage {
    max-height: 50%;
    max-width: 50%;
}
.logoimage {
    width: 50%;
    position: absolute;
    left: 25%;
    
}
.brandlogo
{
    width: 70px;
}
.midtext{
    position: absolute;
    left: 20%;
    top: 20%;
}
.mynavbar {
    margin-bottom: 0px;
    background-color: red;
}
.midsubtext {
    position: absolute;
    left: 15%;
    top: 30%;
}